@using Castle.Core.Internal
@model XYZCorpTempSite.Interfaces.IHomePage

<div class="jumbotron">
    <img style="width: 25%; margin: 0 auto;" src="@Model.XyzCorpLogo.Src"
         alt="@Model.XyzCorpLogo.Alt"
         class="@Model.XyzCorpLogo.Class"/>
    <span><h2 style="display: inline; padding-left: 10%;">XYZ Corp News</h2></span>

</div>

<div class="row">
    <div class="col-xs-12">
        <h1>@Html.Raw(Model.FeaturedArticle.Header)</h1>
        @Html.Raw(Model.FeaturedArticle.Content)
    </div>
</div>
<hr/>
@if (!Model.Articles.IsNullOrEmpty())
{
    <div class="row">
        @foreach (var article in Model.Articles)
        {
            <div class="col-xs-6 panel">
                <h3>@article.Header</h3>
                @Html.Raw(article.Content)
            </div>
        }
    </div>
}

